#head{
    position: fixed;
    display: inline;
    margin-top: 25px;
    margin-left: 0px;
    width: 100vw;
    height: 104px;
    opacity: 1;
}

#camera{
    align-content: right;
    margin-top: 25px;
    margin-right: 10.4vmin;
    margin-left: 87vmin;
    width: 48px;
    height: 48px;
    background: transparent url('./camera.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#insta{
    display: inline;
    margin-top: 26px;
    margin-left: 14.2vmin;
    width: 289px;   
    height: 71px;
    font: normal normal normal 64px/71px Palatino;
    letter-spacing: 0px;
    color: #006238;
    opacity: 1;
}

#icon{
    margin-top: 25px;
    margin-left: 10vw;
    width: 64px;
    height: 64px;
    background: transparent url('./icon.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

