#head{
    position: fixed;
    display: inline;
    margin-top: 25px;
    margin-left: 0px;
    width: 100vw;
    height: 104px;
    opacity: 1;
}

#camera{
    align-content: right;
    margin-left: 86vmin;
    width: 48px;
    height: 48px;
    background: transparent url('./camera.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#insta{
    padding-top: 0px;
    display: inline;
    margin-left: 14.2vmin;
    width: 289px;   
    height: 71px;
}

#txt{
    padding-left:10px;
    vertical-align: text-bottom;
    font-family: Palatino;
    font-size: 64px;
    letter-spacing: 0px;
    color: #006238;
    opacity: 1;
}

#icon{
    margin-top: 26px;
    margin-left: 10vw;
    width: 64px;
    height: 64px;
    background: transparent url('./icon.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}