
.right{
    right: 0;
    height: 10px;
    float: left;
    width: 50vw;
}
.left{
    left: 0;
    height: 100px;
    float: left;
    width: 1000px;
    position: relative;
    
}
.App-logo {
    
    width: 55vh;
    height: 80vh;
   margin-top:80px;
    margin-left:50vh;
    opacity: 1;
    float:left;  
  
}
.clear{
    clear:both;
}
/*
.App-header {
  background-color: black; 
}*/


p{
margin-left: 115vh;
margin-top:25vh;
width: 340px;
height: 12px;
font: normal normal normal 64px/71px Palatino;
letter-spacing: 0px;
color: #006238;
float:left;
opacity: 1;
display: inline;

}
button{

margin-left: 130vh;
/*margin-bottom: 521px;*/
width: 110px;
height: 50px;
margin-top: 20px;
/*margin-right: 578px;*/
font: normal normal normal 32px/39px Verdana;
letter-spacing: 0px;
color: #006238;
opacity: 1;
background: #ffffff 0% 0% no-repeat padding-box;
border: 3px solid #006238;
border-radius: 16px;
float:left;
display: inline;
}
.App-link {
    color: #61dafb;
}
