.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.postpage_all{
    display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

}
.postpage_box{
    display: flex;
  margin-top: 100px;
  width: 420px;
  height: 400px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  opacity: 1;
  flex-direction: column;

}
.postpage_name{
  margin-top: 12px;
  text-align: left;
  font: normal normal bold 17px/24px Helvetica;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.postpage_location{
  margin-top: 10px;
  text-align: left;
font: normal normal normal 18px/24px Verdana;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}
.postpage_message{
  margin-top: 5px;
font: normal normal bold 18px/24px Helvetica;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.postpage_likes{
  margin-top: 2px;
font: normal normal normal 12px/16px Verdana;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.postpage_nameLoc{
    padding-left: 23px;
    text-align: left;
}

.postpage_bikediv{
    display: flex;
    margin-top: 3px;
     border: 1px solid #707070;
     background-size: 100% 100%;
width: 420px;
height:300px;

}
.Landingpage_div{
    display:flex;
    flex-direction: column;
}
.postpage_messagelikes{
    padding-left: 23px;
    text-align: left;
}
.postpage_heartshare{
    margin-top: 10px;
    display: inline-block;
    text-align: left;
    padding-left: 24px;
}
.postpage_heart{
    opacity: 1;
    width: 20px;
    height: 20px;
}
.postpage_share{
    padding-left: 25px;
    opacity: 1;
    width: 20px;
height: 20px;
}
.postpage_date{
    display: inline;
    padding-left: 240px;
    font: normal normal normal 12px/15px Verdana;
letter-spacing: 0px;
color: #000000;
opacity: 1;
    
}